<form method="post" asp-controller="StudentDetails" asp-action="CreateStudentDetails">
    <div class="form-group">
        <label for="Name">Student Name</label>
        <input type="text" name="Name" class="form-control" id="Name" aria-describedby="emailHelp">
    </div>

    <div class="form-group">
        <label for="Semester">Semester</label>
        <input type="text" name="Semester"class="form-control" id="Semester">
    </div>

    <div class="form-group">
        <label for="Branch">Branch</label>
        <input type="text" name="Branch" class="form-control" id="Branch">
    </div>

   
    <button type="submit" class="btn btn-primary">Submit</button>

    

</form>
